<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="数据库课设.Properties.Settings.数据库课设ConnectionString" connectionString="Data Source=DESKTOP-IVLDISE;Initial Catalog=数据库课设;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>